h1{

    font-family: 'IBM Plex Sans Arabic', sans-serif;
   
}
*{margin: 0;
padding: 0;
list-style: none;
text-decoration: none;


}
.card {
background-color: bisque;
width: 180px;
padding-left: 10px;
margin: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container{
display: flex;
justify-content: center;
}

body{
background-color:wheat;
width: 100vw;
overflow-x: hidden;


}
.header {
    background-color:#EABDA8;
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content:space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0%;
    z-index: 1;
    position: sticky;
    top: 0%;
}
.left {
     
    display: flex;
    align-items: center;
    color: white;
}
.left h2 { 
   
    margin:15px;
    font-size: 25px;
}
.right {
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.right a {
    
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    margin-right: 15px;
}
.right a:hover{color: black;}
.section_name{
width: 99vw;
margin: 0%;

}
.flip-card {
    background-color: transparent;
    width: 180px;
    height: 370px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 10px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: bisque;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .flip-card-back {
    background-color: bisque;
    color: white;
    transform: rotateY(180deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}  